* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arapey', serif;
    background: linear-gradient(0.25turn, #009c3b, #ffdf00, #002776);

}

header {
    background-image: url(./Images/brasil.jpg);
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    color: #c1cbd7;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.slide {
    height: 50px;
    overflow: hidden;
    /* background: #27ae60; */
}

.slide div:nth-child(1) div {
    background: none;
}

.slide div:nth-child(2) div {
    background: none;

}

.slide div:nth-child(3) div {
    background: none;

}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-40%, -40%);
}

.slider {
    color: #c1cbd7;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: green;
    text-shadow: black 1px 1px 1px;
}

.slide {
    height: 50px;
    overflow: hidden;
    /* background: #27ae60; */
}

.slide div div {
    display: inline-block;
    border-radius: 2px;
    padding: 4px 12px;
    margin-bottom: 35px;


}

.slide div:nth-child(1) div {
    background: none;
}

.slide div:nth-child(2) div {
    background: none;

}

.slide div:nth-child(3) div {
    background: none;

}


.slide div:nth-child(1) {
    animation: transition 5s linear infinite;
}

@keyframes transition {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

footer {
    text-align: center;
    font-size: 20px;
    background: black;
    opacity: 0, 5;
    color: white;
    height: 30px;
}

h1 {
    text-align: center;
    text-decoration: 1px 1px 1px black;
}

p {
    margin: 2%;
    letter-spacing: 1px;
    font-size: 24px;
}

nav ul li {
    display: inline-block;
    padding: 1%;
    font-size: 1.5rem;

}

.feijoada,
.churrasco,
.caipirinha {
    height: 400px;
    float: right;
    border-radius: 5%;
}


a:hover {
    font-size: 150%;
    color: red;
    background: blue;
}

a:visited {
    color: blue;
    background: red;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    margin-top: 2%;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 20px;
}
